.select-board-outer {
  background-image: url("./discussion_board.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative; 
}
/*Nav Bar*/
.select-board-outer .navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px; /* Adjust the height as needed */
  background: rgba(58, 60, 76, 0.8); /* Semi-transparent black */
  color: white;
  display: flex;
  justify-content: space-between; 

  align-items: center;
  padding: 0 20px; /* Padding on the sides */
  z-index: 1000; /* Ensures the navbar stays on top */
}
.navbar-logo {
  height: 3cap;
  margin-left: 10px; /* Add some margin to the left if needed */

  display: block;
  margin-left: 10px;
}
.logout-link {
  color: rgb(218, 218, 218); 
  cursor: pointer;
  padding: 10px 20px; /* Padding for clickable area */
  text-decoration: none; 
}
.logout-link:hover {
  color: white;
  text-decoration: none; 
}
.logo-and-title {
  display: flex;
  align-items: center; 
  margin-right: 60%;
}
.sb-message {
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
}

/*Main content*/

.sb-wrapper {
  background: rgba(36, 39, 67, 0.6); /* Semi-transparent black */
}
.sb-row {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

/*List of dicussion boards*/
.board-list {
  width: 100%; 
  max-width: 600px; 
  overflow-y: auto; 
  flex-grow: 1; 

  height: 70vh;
  overflow-y: auto; 
  scrollbar-width: thin; 
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent; /* For Firefox */

  margin-top: 80px;
}
/* Styles for Webkit browsers like Chrome, Safari */
.board-list::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}
.board-list::-webkit-scrollbar-track {
  background: transparent; /* Background of the track */
  border-radius: 10px;
}
.board-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5); /* Color of the scrollbar thumb */
  border-radius: 10px;
  border: 3px solid transparent; 
}

.board-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6); 
}

/*If there is no board*/
.no-boards-message {
  height: 70vh;
  color: #fff; 
  text-align: center;
  padding: 20px; 
  font-size: 12px; 
  margin-top: 80px;
}

/*Each board styles*/
.board-item {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  overflow: auto;

  white-space: normal; 
}

/*added to make board-item appear selectable*/
.board-item:hover {
  background-color: #f0f0f0;
}

/*Delete board styling*/
.unsubscribe-btn {
  font-size: 12px;
  background-color: red;
  border-radius: 12px;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 5px;
}

.create-board-btn {
  padding: 10px 20px;

  border-radius: 15px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  display: block; 
  margin-top: 20px; 
}
.footer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 20px; 
}

/*Pop-up for cerate board*/
.modal h2 {
  color: black;

  font-size: 25px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  border-radius: 20px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  text-align: center;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5em;
}

.modal-input {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 20px;
}

.modal-create-btn {
  padding: 10px 20px;
  background-color: blue;
  border-radius: 20px;
  color: white;
  border: none;
}

/*Responsive design */
@media (max-width: 768px) {
  .navbar {
    padding: 0 5px; /* Reduce padding on smaller screens */
  }

  .sb-message {
    margin-left: 5px; /* Reduce space between logo and title on smaller screens */
    font-size: 16px;

    .navbar-logo {
      height: 30px;
    }
    .board-list {
      max-width: 250px;
      max-height: 600px;
    }

    @media (max-width: 480px) {
      .sb-message {
        display: none;
      }
      .board-list {
        max-width: 250px;
        max-height: 600px;
      }
    }
  }
}
