.outer {
  background-color: #0b1831; /* Black-blue-grey background */
  height: 100vh;
}

.registration-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Registration container styles */
.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  padding-top: 50px;
  border-radius: 30px;
  background: rgba(243, 240, 240, 0.6); /* Semi-transparent black */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.registration-message {
  color: #0b1d3f;
  font-weight: bold;
  font-size: 22px;
  width: 100%; /* Ensures it takes the full width */
  text-align: center; /* Centers the text within the element */
  margin-bottom: 30px; /* Optional: Adds space below the title */
}

.input-group {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  margin-bottom: 10px; /* Adjust as needed for space between groups */
  font-size: 12px;
  color: #0b1d3f;
}

.input-group label {
  color: #0b1d3f;
  font-size: 12px;
}

.input-group input {
  border-radius: 15px;
  color: rgb(48, 47, 47);
  width: 250px;
  padding: 5px 15px;
}

.link-button-reg {
  cursor: pointer;
  text-decoration: underline;
}

.reg-button {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 40px;
}
.reg-button button:hover {
  background-color: rgb(255, 204, 2);
}

.reg-button button {
  color: #0b1d3f;
  padding: 8px 55px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 15px;
  background-color: rgb(252, 227, 124);
}

@media (min-width: 780px) {
  .outer {
    background-image: url("registration.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
