.input-group {
  display: flex;
  justify-content: flex-start; /* Aligns children to the start of the flex container */
  width: 100%; 

  width: 400px;
  margin-bottom: 10px; 
}
.input-group label {
  flex: 0 0 120px; /* Gives label a fixed width and prevents it from growing */
  margin-right: 10px;
  text-align: left; /* Aligns the text to the right of the label */
  margin-top: 20px;
}
.input-group input {
  flex: 1; /* Allows input to take up the remaining space */
  margin-top: 20px;
  color: rgb(48, 47, 47);
 
 
}
.registration-message {
  font-size: 20px;
  width: 100%; /* Ensures it takes the full width */
  text-align: center; /* Centers the text within the element */
  margin-top: 20px; /* Optional: Adds space above the title */
  margin-bottom: 35px; /* Optional: Adds space below the title */
}
.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* This ensures that the .outer class takes up the full height of the viewport */
  width: 100vw; /* This ensures that the .outer class takes up the full width of the viewport */
  background-color: black;

}
/* This will make the background of the entire container black */
.container {
  background-color: black;
  color: white;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

::placeholder {
  color: #bbb; /* Lighter color for placeholders for better visibility */
}


.link-button-reg {
  
  cursor: pointer;
  text-decoration: underline;
}

.link-button-reg:hover,
.link-button-reg:focus {
  color: #ddd; /* Lighter shade for hover and focus states */
  text-decoration: none; 
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* This centers the .input-group containers */
  width: 100%;
}
.btn{
  margin: 40px;
  
}


