
.outer{
  background-color: #1a1c20; /* Black-blue-grey background */

}


/* Registration container styles */
.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  padding-top: 70px;
  border-radius: 30px;
  background: rgba(243, 240, 240, 0.6); /* Semi-transparent black */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
}


.input-group {
  display: flex;
  justify-content: flex-start; /* Aligns children to the start of the flex container */
  width: 100%; 
  margin-bottom: 10px; 
  
}
.input-group label {
  
  margin-right: 10px;
  text-align: left; /* Aligns the text to the right of the label */
  margin-top: 20px;
}
.input-group input {
  flex: 1; /* Allows input to take up the remaining space */
  margin-top: 20px;
  border-radius: 12px;
  color: rgb(48, 47, 47);
}
.registration-message {
  font-weight: bold;
  font-size: 24px;
  width: 100%; /* Ensures it takes the full width */
  text-align: center; /* Centers the text within the element */
  margin-top: 20px; /* Optional: Adds space above the title */
  margin-bottom: 50px; /* Optional: Adds space below the title */
  
}

.registration-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

::placeholder {
  color: #bbb; /* Lighter color for placeholders for better visibility */
}


.link-button-reg {
  
  cursor: pointer;
  text-decoration: underline;
}

.link-button-reg:hover,
.link-button-reg:focus {
  color: #ddd; /* Lighter shade for hover and focus states */
  text-decoration: none; 
}

.registration-form {
  display: flex;
  flex-direction: column;
  
}
.reg-button{
  margin: 40px;
}


