/* general page styling */

html, body {
    height: 100%;
    margin: 0;
}

.text-white {
    color:white;
}

.text-black {
    color: black;
}

.h-100 {
    height: calc(100vh - 55px); /* to fit 55 px navbar */
}

@media (min-width: 577px) { /* set size to full screen only on full screen view*/
    .message-section-height { 
        height: calc(100vh - 55px); /* to fit 55 px navbar */
    }
}

.channels-list, .messages-section, .board-info {
    background-color: #1f1f1f;
    text-align: center;
    padding: 10px;
    overflow-y: auto;
}

/* message section styling */
.message {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #333;
    padding: 5px;
    color: #ddd;
}

.message-content {
    flex-grow: 1;
}

.message-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.message-sender {
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
}

.message-timestamp, .message-sender {
    display: inline;
}

.message-timestamp {
    color: grey;
    font-size: 13px;
    font-style: oblique;
}
.message-text {
    white-space: pre-wrap; /* supporting line breaks in messages */
    margin-left: 50px;
    font-size: 22px;
}

.message-pfp {
    margin-right: 10px;
    margin-top: 1px;
}

.message-list {
    overflow-y: auto;
    text-align: left;
}

.message-input-form {
    padding: 10px;
    background-color: #1f1f1f;
    width: 100%;
}

.message-input-form .d-flex {
    display: flex;
    align-items: center;
}

.message-textbox {
    resize:none;
    flex-grow: 1;
    margin-right: 10px;
    color: black;
    overflow: 'hidden';
    resize: 'none'
}

.message-textbox::placeholder {
    color: #2a2727;
    font-size: 15px;
    font-style: oblique;
}

.board-title {
    margin-left: 10px;
    font-size: 40px;
    font-weight: bold;
}

.board-name {
    font-size: 30px;
    font-weight: bold;
}

.message-button {
    height: 50px;
    width: 80px;
    display: inline;
}

.message-textbox {
    height: 50px;
    margin-right: 20px;
}

.message-button-text {
    font-size: 20px;
}

.outer-viewboard-page {
    overflow-y: auto;
    background-color: #1f1f1f;
    min-width: 300px;
}

.messages-section {
    display: flex;
    flex-direction: column;
    height: 100%;

    /* creates borders in between sections */
    border-left: 2px solid #212529;
    border-right: 2px solid #212529;
}

.message-list {
    flex-grow: 1;
    overflow-y: auto;
}

.empty-chat-message {
    color: grey;
    font-style: italic;
    text-align: center;
}

@media (max-width: 992px) {
    .channels-list, .messages-section, .board-info {
        border-bottom: 1px solid darkslategrey;
    }
    .board-info {
        border-bottom: none;
    }
}

/* board title, membership columns (left, right) */

.rounded-box {
    background-color:#323949;
    border-radius: 15px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-in-rounded {
    font-size: 20px;
}

.user-list {
    text-align: left;
    overflow-wrap: break-word;
}

.list-username {
    font-weight: bold;
    font-size: 18px;
}

.list-email {
    font-style: oblique;
    color: #D3D3D3;
    font-size: 15px;
}


.message-input-form {
    padding: 10px;
    background-color: #1f1f1f;
    width: 100%;
}

.define-user-form .d-flex {
    display: flex;
    align-items: center;
}

.define-user-textbox {
    margin-bottom: 10px;
    flex-grow: 1;
    margin-right: 10px;
    color: black;
}

.define-user-textbox::placeholder {
    color: #2a2727;
    font-size: 15px;
    font-style: oblique;
}

.error-message {
    font-style: oblique;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.message-textbox.auto-resize-textarea { /* css for resizing of text box */
    max-height: 100px;
}