/* The Vanta.js background will be applied to the container */
/* No need to set display, justify-content, or align-items since Bootstrap's classes handle it */

/*.row{ IF we wanted to center the log-in conatiner 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/

p{
  color: white;
}
/* Styling for the login form */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
  position: relative;
}

.login-form{
  width: 100%;
  margin-left: 63%;
}
/* Styling for the input fields within the form */
.login-form input {
  margin-bottom: 10px; /* Spacing below each input */
  padding: 10px; /* Padding inside the input fields */
}

/* Styling for the submit button within the form */
.login-form button {
  padding: 10px 20px; /* Padding inside the button */
  cursor: pointer; /* Mouse pointer changes to indicate clickable */
  margin-top: 10px; /* Extra space above the button */
}

.welcome-message {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}


/*Register button*/
.link-button {
  background: none;
  border: none;
  color:black;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font: inherit;
}


.link-button:hover, .link-button:focus {
  text-decoration: none; /* or any hover effect you like */
}



