.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.img-container {
    margin-bottom: 20px;
}
.form-control-lg {
    margin-bottom: 10px;
}

.form-group label, .form-group input {
    display: block; /* Makes element occupy the full width */
    width: 475px; /* Ensures it takes up all available space */
    box-sizing: border-box; /* Optional: ensures padding doesn't affect width */
    font-size: 15px;
}

.form-group label {
    margin-bottom: 0.5em;
}

.form-group input {
    margin-bottom: 1em;
}
input[type="text"], input[type="email"] {
    font-size: 20px;
}
input, select, textarea{
    color: black;

}

.form-text {
    font-size: 13px;
    margin-top: -15px;
    margin-left: 3px;
    font-style: oblique;
}

.navbar-username {
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.dropdown-item {
    color: black;
    font-size: 18px;
}

.navbar {
    height: 60px;
}

.my-custom-dropdown .dropdown-toggle::after {
    display: none !important; 
  }
  
.navbar {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
body, html {
padding-top: 0;
margin-top: 0;
}  

.nav-sign-btn {
    margin-right: 5px;
    font-weight: bold;
    color: inherit;
}

.nav-sign-btn:first-child {
    margin-right: -20px;
  }

.brand-section {
    font-size: 30px;
}

.img-container {
    margin-bottom: 20px;
}
.form-control-lg {
    margin-bottom: 10px;
}

.form-group label, .form-group input {
    display: block; /* Makes element occupy the full width */
    width: 430px; /* Ensures it takes up all available space */
    box-sizing: border-box; /* Optional: ensures padding doesn't affect width */
    font-size: 15px;
}

.form-group label {
    margin-bottom: 0.5em;
}

.form-group input {
    margin-bottom: 1em;
}
input[type="text"], input[type="email"] {
    font-size: 20px;
}
input, select, textarea{
    color: black;

}

.form-text {
    font-size: 13px;
    margin-top: -15px;
    margin-left: 3px;
    font-style: oblique;
}