/* general */

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

/* navbar */

.site-nav {
    height: 55px;
    width: 100%;
    min-width: 300px; /* same as ViewBoard.js */
    background-color: #343a40;
    position: relative;
}

@media screen and (max-width: 450px) {
    .brand-text {
        display: none;
    }
}


.nav-logo-img {
    margin-right: 10px;
}

.site-nav-header, .site-nav-links {
    display: inline;
}

.site-nav-brand { /* logo + name area on the left */
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding-left: 10px;
    padding-top: 5px;
}

.site-nav-buttons { /* for two buttons on right side */
    float: right;
    font-size: 18px;
    padding-right: 10px;
    padding-top: 11px
}

.site-nav-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
